@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*** Link Overview ***/
/* Fontawesome Icons */
/** shadow ***/
/*** border-style***/
/*** @include alpha-background-color(rgba($blue, 0.75), white); ***/
/*** Colum count ***/
/* Mediaqueries breakpoints */
/* line 5, ../sass/layout/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 10, ../sass/layout/_grid.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 993px) {
  /* line 17, ../sass/layout/_grid.scss */
  html.flexbox .flex-container {
    display: -webkit-flex;
    display: flex;
  }
  /* line 20, ../sass/layout/_grid.scss */
  html.flexbox .flex-container > div {
    -webkit-flex: 1 0;
    flex: 1 0;
  }
}
@media screen and (max-width: 992px) {
  /* line 22, ../sass/layout/_grid.scss */
  html.flexbox .flex-container .block.ce_text, html.flexbox .flex-container form {
    margin: 2em 0;
  }
}
@media screen and (min-width: 993px) {
  /* line 22, ../sass/layout/_grid.scss */
  html.flexbox .flex-container .block.ce_text, html.flexbox .flex-container form {
    margin: 2em;
  }
}
/* line 31, ../sass/layout/_grid.scss */
html.no-flexbox body.startseite .flex-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
html.no-flexbox body.startseite .flex-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 33, ../sass/layout/_grid.scss */
html.no-flexbox body.startseite .flex-container > div {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

/* line 37, ../sass/layout/_grid.scss */
body.startseite .block.ce_text {
  margin: 1em 1em 2em 1em;
}

/* line 43, ../sass/layout/_grid.scss */
#wrapper > #container {
  position: relative;
  /*        .addons {
              @include container;
              position:relative;
              .social{
                  > * {float:left;}
              }
              @media screen and (max-width:$screen-smallPad){
                  .agoff{
                      @include span(5 of 12); 
                  }
                  .social{
                      @include span(6 of 12); 
                  }
              }
              @media screen and (min-width:$screen-smallPad){
                  .agoff{
                      @include span(3 of 12); 
                  }
                  .social{
                      @include span(5 of 12);   
                  }
              }
              .search-boxen{
                  position: absolute;
                  top:-30px;
                  right:0;
                  z-index: 9999;
              }
          }*/
}
@media screen and (max-width: 992px) {
  /* line 43, ../sass/layout/_grid.scss */
  #wrapper > #container {
    padding: 60px 1em 1em 1em;
  }
}
@media screen and (min-width: 992px) {
  /* line 43, ../sass/layout/_grid.scss */
  #wrapper > #container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  #wrapper > #container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 1200px) {
  /* line 43, ../sass/layout/_grid.scss */
  #wrapper > #container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  #wrapper > #container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 55, ../sass/layout/_grid.scss */
#wrapper > #container > footer, #wrapper > #container > header {
  width: inherit;
}
/* line 58, ../sass/layout/_grid.scss */
#wrapper > #container > #container > .inside {
  width: inherit;
}
/* line 60, ../sass/layout/_grid.scss */
#wrapper > #container > #container > .inside .netpoint-billboard, #wrapper > #container > #container > .inside .social, #wrapper > #container > #container > .inside .mod_breadcrumb {
  width: inherit;
}

@media screen and (max-width: 992px) {
  /* line 99, ../sass/layout/_grid.scss */
  #header #responsive-nav {
    width: 100%;
  }
  /* line 102, ../sass/layout/_grid.scss */
  #header #main-nav, #header hgroup {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  /* line 95, ../sass/layout/_grid.scss */
  #header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  #header:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 106, ../sass/layout/_grid.scss */
  #header > .inside {
    padding: 2em;
  }
  /* line 109, ../sass/layout/_grid.scss */
  #header hgroup {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 112, ../sass/layout/_grid.scss */
  #header #main-nav {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* line 117, ../sass/layout/_grid.scss */
  #header > .inside {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  #header > .inside:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 992px) {
  /* line 122, ../sass/layout/_grid.scss */
  #side-nav {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  /* line 122, ../sass/layout/_grid.scss */
  #side-nav {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 128, ../sass/layout/_grid.scss */
  #side-nav ~ .mod_article {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
}

/*.search-boxen{
    @media screen and (min-width:$screen-md + 1){
        @include push(3 of 12);
    }
}*/
/* line 138, ../sass/layout/_grid.scss */
#footer .inside div.ce_text {
  font-size: smaller;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-top: 1em;
  margin: 0 !important;
}
/* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
#footer .inside div.ce_text:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 148, ../sass/layout/_grid.scss */
  #footer .inside .footer-info .badges {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 149, ../sass/layout/_grid.scss */
  #footer .inside .footer-info .footer-menu {
    width: 40.67797%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 153, ../sass/layout/_grid.scss */
  #footer .inside .footer-info .badges {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 154, ../sass/layout/_grid.scss */
  #footer .inside .footer-info .footer-menu {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (max-width: 992px) {
  /* line 159, ../sass/layout/_grid.scss */
  #footer .badges {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  /* line 164, ../sass/layout/_grid.scss */
  #footer .badges img {
    -webkit-flex: 2 0;
    flex: 2 0;
    margin: 0 1em;
  }
}
@media screen and (min-width: 993px) {
  /* line 159, ../sass/layout/_grid.scss */
  #footer .badges {
    -webkit-flex: 1 0;
    flex: 1 0;
  }
  /* line 171, ../sass/layout/_grid.scss */
  #footer .badges img {
    margin-right: 1em;
  }
}
/* line 178, ../sass/layout/_grid.scss */
#footer nav {
  float: left;
}
/* line 180, ../sass/layout/_grid.scss */
#footer nav li {
  float: left;
  margin-right: 1em;
  display: inline-block;
}
/* line 184, ../sass/layout/_grid.scss */
#footer nav li.last {
  margin: 0;
}
/* line 186, ../sass/layout/_grid.scss */
#footer nav ~ div {
  float: right;
}

/* line 1, ../sass/layout/_layout.scss */
#wrapper {
  background-color: transparent;
  background: #f4f4f4 url("../img/mdbg.png");
}

/* line 6, ../sass/layout/_layout.scss */
#container .netpoint-billboard, #container .social, #container .mod_breadcrumb {
  width: inherit;
}
/* line 9, ../sass/layout/_layout.scss */
#container .mod_article.indent {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
/* line 10, ../sass/layout/_layout.scss */
#container .mod_breadcrumb.indent {
  margin-left: 25.42373%;
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}

/* line 13, ../sass/layout/_layout.scss */
.block#uebersicht + .flex-container .mod_navigation {
  margin-top: 1em;
}
/* line 18, ../sass/layout/_layout.scss */
body.startseite .block.ce_text li:before {
  float: left;
  display: inline-block;
  line-height: 1em;
  content: '';
  width: 0;
  height: 0;
  font-size: 2px;
  margin-right: 2em;
  border-width: 6px 12px 6px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #2A5C7E;
}
/* line 23, ../sass/layout/_layout.scss */
body.startseite .block.ce_text li span {
  float: left;
  display: inline-block;
  line-height: 1.2;
  width: 90%;
}
/* line 31, ../sass/layout/_layout.scss */
.block.ce_text:first-child {
  clear: both;
}
/* line 34, ../sass/layout/_layout.scss */
.block.ce_text:not(#uebersicht) {
  /*        @media screen and (min-width:$screen-sm) and (max-width:$screen-md) and (orientation:portrait){
             margin:0 -$vgrid;
          }*/
  background: #fbfbfb;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
/* line 41, ../sass/layout/_layout.scss */
.block.ce_text:not(#uebersicht) li {
  list-style-position: inside;
  margin-bottom: .5em;
  clear: both;
  float: left;
  display: block;
  width: 100%;
  /*            @include clearfix;*/
}
/* line 49, ../sass/layout/_layout.scss */
.block.ce_text:not(#uebersicht) li h1, .block.ce_text:not(#uebersicht) li h2, .block.ce_text:not(#uebersicht) li h3, .block.ce_text:not(#uebersicht) li h4, .block.ce_text:not(#uebersicht) li h5, .block.ce_text:not(#uebersicht) li h5 {
  float: left;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  margin: -.2em 0 0 0;
}
/* line 54, ../sass/layout/_layout.scss */
.block.ce_text:not(#uebersicht) li h1 a, .block.ce_text:not(#uebersicht) li h2 a, .block.ce_text:not(#uebersicht) li h3 a, .block.ce_text:not(#uebersicht) li h4 a, .block.ce_text:not(#uebersicht) li h5 a, .block.ce_text:not(#uebersicht) li h5 a {
  text-decoration: none;
}
/* line 57, ../sass/layout/_layout.scss */
.block.ce_text:not(#uebersicht) li h1 ~ *, .block.ce_text:not(#uebersicht) li h2 ~ *, .block.ce_text:not(#uebersicht) li h3 ~ *, .block.ce_text:not(#uebersicht) li h4 ~ *, .block.ce_text:not(#uebersicht) li h5 ~ *, .block.ce_text:not(#uebersicht) li h5 ~ * {
  clear: both;
}
/* line 62, ../sass/layout/_layout.scss */
.block.ce_comments .comment_default {
  margin-bottom: 2em;
  padding-botteom: 2em;
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: #ccc;
}
/* line 70, ../sass/layout/_layout.scss */
.block.ce_comments .comment_default .info {
  font-size: smaller;
  font-style: italic;
  color: #2A5C7E;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #4b92c3;
}
/* line 82, ../sass/layout/_layout.scss */
.block.ce_comments .comment_default .comment {
  margin-bottom: 1em;
}
/* line 85, ../sass/layout/_layout.scss */
.block.ce_comments .comment_default .reply {
  margin-left: 2em;
  padding-left: 1em;
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #2A5C7E;
}
/* line 95, ../sass/layout/_layout.scss */
.block.ce_comments .comment_default.last {
  margin-bottom: 0;
}
/* line 99, ../sass/layout/_layout.scss */
.block.ce_comments .form {
  margin-top: 2em;
}

/* line 104, ../sass/layout/_layout.scss */
.headline-container {
  position: relative;
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 104, ../sass/layout/_layout.scss */
  .headline-container {
    padding: .5em 0;
  }
}
@media screen and (min-width: 769px) {
  /* line 104, ../sass/layout/_layout.scss */
  .headline-container {
    padding: .5em 1em;
  }
}
/* line 114, ../sass/layout/_layout.scss */
.headline-container .ce_headline:before {
  content: ' ';
  display: block;
  height: 65px;
  margin: -65px 0 0;
}

/* line 121, ../sass/layout/_layout.scss */
#footer {
  background-color: #1E4159;
  margin-top: 1em;
  padding-top: 1em;
}
/* line 126, ../sass/layout/_layout.scss */
#footer a, #footer a:visited, #footer a:hover, #footer a:focus, #footer a:active {
  text-decoration: none;
  color: #ffffff;
}
/* line 135, ../sass/layout/_layout.scss */
#footer a:hover, #footer a:focus, #footer a:active {
  text-decoration: underline;
}
/* line 141, ../sass/layout/_layout.scss */
#footer .inside {
  padding: 1em;
}
/* line 144, ../sass/layout/_layout.scss */
#footer .ce_text {
  background: transparent !important;
  border-width: 1px 0 0 0 !important;
  border-color: #ffffff;
  border-style: dotted;
}
/* line 151, ../sass/layout/_layout.scss */
#footer .ce_text, #footer .ce_text * {
  color: #ffffff;
}

/* line 154, ../sass/layout/_layout.scss */
#header {
  background: white;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 161, ../sass/layout/_layout.scss */
.responsive-header [id*="logo"] {
  display: inline-block;
  padding: 1em 0;
  text-indent: -999999px;
  background: transparent url("../img/logo_bg.png") no-repeat left center/contain;
}
/* line 167, ../sass/layout/_layout.scss */
[id*="logo"] img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/layout/_globals.scss */
.red {
  color: #E12A44;
}

/* line 4, ../sass/layout/_globals.scss */
.blue {
  color: #1f2a44;
}

/* line 7, ../sass/layout/_globals.scss */
.red, .blue {
  font-weight: bold;
}

/* line 11, ../sass/layout/_globals.scss */
.mod_search .highlight {
  background: #FFF6B0;
  font-style: italic;
}

/* line 17, ../sass/layout/_globals.scss */
.mod_search .url {
  font-style: italic;
  color: #2A5C7E;
}

/* line 19, ../sass/layout/_globals.scss */
.invisible {
  display: none !important;
}

/* line 22, ../sass/layout/_globals.scss */
.pdf_link {
  text-align: right;
  margin-bottom: 1em;
  float: right;
}

/* line 27, ../sass/layout/_globals.scss */
.pdf_link:after {
  content: '';
  clear: both;
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

/* line 35, ../sass/layout/_globals.scss */
table {
  width: 100%;
  margin: 1em 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
/* line 38, ../sass/layout/_globals.scss */
table.responsive {
  overflow-y: scroll;
}
/* line 43, ../sass/layout/_globals.scss */
table thead tr {
  border-bottom: 1px solid #ccc;
  background: #eee;
}
/* line 46, ../sass/layout/_globals.scss */
table thead tr th {
  text-align: center;
}
/* line 52, ../sass/layout/_globals.scss */
table tbody tr {
  border-bottom: 1px dashed white;
}
/* line 54, ../sass/layout/_globals.scss */
table tbody tr:nth-child(even) {
  background: #f2f2f2;
}
/* line 57, ../sass/layout/_globals.scss */
table tbody tr:nth-child(odd) {
  background: #FBFBFB;
}
/* line 62, ../sass/layout/_globals.scss */
table td, table th {
  padding: .5em 1em;
  border-width: 1px;
  border-style: dashed;
  border-color: #ccc;
}
/* line 65, ../sass/layout/_globals.scss */
table td:first-child, table th:first-child {
  border: 0;
}

/* line 73, ../sass/layout/_globals.scss */
.interactive {
  border-bottom: 1px dotted #ccc;
  clear: both;
}
/* line 76, ../sass/layout/_globals.scss */
.interactive > * {
  float: left;
  margin-left: 1em;
}
/* line 87, ../sass/layout/_globals.scss */
.interactive > form label, .interactive > form .suchfeld, .interactive > form input[type="submit"] {
  float: left;
  margin-left: 1em;
}
/* line 91, ../sass/layout/_globals.scss */
.interactive > form .suchfeld {
  max-width: 100px;
}

/* line 13, ../sass/layout/_typo.scss */
body {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #f4f4f4;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 992px) {
  /* line 13, ../sass/layout/_typo.scss */
  body {
    moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
  }
}

/* line 26, ../sass/layout/_typo.scss */
p, td, li {
  font-size: 1em;
}

/* line 29, ../sass/layout/_typo.scss */
strong, b {
  font-weight: 600;
}

/* line 32, ../sass/layout/_typo.scss */
em, i {
  font-style: italic;
}

/* line 35, ../sass/layout/_typo.scss */
h1 {
  font-size: 33.6px;
}

/* line 36, ../sass/layout/_typo.scss */
h2 {
  font-size: 22.4px;
}

/* line 37, ../sass/layout/_typo.scss */
h3 {
  font-size: 16.8px;
}

/* line 38, ../sass/layout/_typo.scss */
h4 {
  font-size: 14px;
}

/* line 39, ../sass/layout/_typo.scss */
h5 {
  font-size: 14px;
}

/* line 40, ../sass/layout/_typo.scss */
h6 {
  font-size: 14px;
}

/* line 42, ../sass/layout/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  color: #2A5C7E;
}
/* line 47, ../sass/layout/_typo.scss */
.mod_article h1, .mod_article h2, .mod_article h3, .mod_article h4, .mod_article h5, .mod_article h6 {
  margin: 1em 0 .5em;
}
/* line 50, ../sass/layout/_typo.scss */
h1 .ce_table-of-contents, h2 .ce_table-of-contents, h3 .ce_table-of-contents, h4 .ce_table-of-contents, h5 .ce_table-of-contents, h6 .ce_table-of-contents {
  margin-top: 0 !important;
}
/* line 54, ../sass/layout/_typo.scss */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
}

/* line 60, ../sass/layout/_typo.scss */
a:focus, a:hover {
  color: #4b92c3;
}
/* line 61, ../sass/layout/_typo.scss */
a, a:link, a:visited {
  color: #2A5C7E;
}
/* line 62, ../sass/layout/_typo.scss */
a.btn-download {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* line 69, ../sass/layout/_typo.scss */
th h1, th h2, th h3, th h4, th h5, th h6 {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 15.4px;
  font-weight: bold;
  color: #333;
  line-height: 1.1;
  margin: 0;
}

/* line 80, ../sass/layout/_typo.scss */
nav li a, nav li span {
  font-size: .95em;
  text-decoration: none;
}

/* line 1, ../sass/modules/_social-media.scss */
.social-media {
  overflow: hidden;
  *zoom: 1;
}

/* line 4, ../sass/modules/_social-media.scss */
.ce_fblikeit_xfbml {
  float: left;
}

/* line 7, ../sass/modules/_social-media.scss */
.googleplus1 {
  float: left;
}

/* line 10, ../sass/modules/_social-media.scss */
.twitter {
  float: left;
}
/* line 12, ../sass/modules/_social-media.scss */
.twitter:after {
  content: ' ';
  display: block;
  clear: both;
}

@media screen and (max-width: 992px) {
  /* line 18, ../sass/modules/_social-media.scss */
  .ce_fblikeit_xfbml, .googleplus1, .twitter {
    margin: 0;
  }
}
@media screen and (min-width: 993px) {
  /* line 18, ../sass/modules/_social-media.scss */
  .ce_fblikeit_xfbml, .googleplus1, .twitter {
    margin: 1em;
  }
}

/* line 1, ../sass/modules/_ui.scss */
nav a {
  text-decoration: none;
}
/* line 3, ../sass/modules/_ui.scss */
nav a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* line 8, ../sass/modules/_ui.scss */
.btn-download {
  display: block;
  text-align: left;
}
/* line 11, ../sass/modules/_ui.scss */
.btn-download > span {
  display: inline-block;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  background: #3d86b7;
  margin: 1em auto;
}
@media screen and (max-width: 480px) {
  /* line 11, ../sass/modules/_ui.scss */
  .btn-download > span {
    width: 100%;
    display: block;
  }
}
/* line 22, ../sass/modules/_ui.scss */
.btn-download * {
  color: white;
  text-decoration: none;
}
/* line 26, ../sass/modules/_ui.scss */
.btn-download:hover {
  text-decoration: none;
  background-image: none;
}
/* line 30, ../sass/modules/_ui.scss */
.btn-download img {
  height: 1.2em;
  width: auto;
  margin: 0 0 0 .2em;
}

/* line 38, ../sass/modules/_ui.scss */
.toggle {
  border-bottom: 1px solid currentColor;
  clear: both;
}
/* line 41, ../sass/modules/_ui.scss */
.toggle:hover {
  cursor: pointer;
}
/* line 44, ../sass/modules/_ui.scss */
.toggle:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 1em;
  opacity: 1;
  margin-left: 0;
  font-size: larger;
}
/* line 47, ../sass/modules/_ui.scss */
.toggle.show:before {
  content: "\f107";
}
/* line 50, ../sass/modules/_ui.scss */
.toggle ~ .flex-container.hidden {
  display: none;
}

/*** Scroll to top ***/
/* line 56, ../sass/modules/_ui.scss */
.scroll-to-top {
  background: none repeat scroll 0 0 black;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: fixed;
  right: 20px;
  bottom: 4%;
  color: white;
  cursor: pointer;
  display: none;
  font-size: large;
  line-height: 1;
  padding: 5px 10px;
  transition: background-color 0.1s linear 0s;
  z-index: 9999;
}
/* line 70, ../sass/modules/_ui.scss */
.scroll-to-top:hover {
  opacity: 0.8;
}

/* line 76, ../sass/modules/_ui.scss */
#footer .mobil_umschalter a {
  color: white;
}
/* line 77, ../sass/modules/_ui.scss */
body.desktop-layout .mobil_umschalter a:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 0;
  opacity: 1;
  margin-left: 0;
  font-size: large;
}
/* line 80, ../sass/modules/_ui.scss */
body.mobile-layout .mobil_umschalter a:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 0;
  opacity: 1;
  margin-left: 0;
  font-size: large;
}
/* line 83, ../sass/modules/_ui.scss */
.mobil_umschalter a span {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 0;
  height: 0;
}

/*** Modal Box ***/
/* line 94, ../sass/modules/_ui.scss */
.modal-box {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5f859e;
  background-color: rgba(42, 92, 126, 0.75);
  z-index: 9999999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
/* line 109, ../sass/modules/_ui.scss */
.modal-box:target {
  opacity: 1;
  pointer-events: auto;
}
/* line 113, ../sass/modules/_ui.scss */
.modal-box > div {
  display: block;
  position: relative;
  padding: 2em;
}
@media screen and (max-width: 480px) {
  /* line 113, ../sass/modules/_ui.scss */
  .modal-box > div {
    margin: 10%;
    background: transparent;
    border: 1px dotted white;
  }
}
@media screen and (min-width: 600px) {
  /* line 113, ../sass/modules/_ui.scss */
  .modal-box > div {
    width: 400px;
    margin: 10% auto;
    background: #f4f4f4;
  }
}
/* line 129, ../sass/modules/_ui.scss */
.modal-box > div .close {
  background: #4b92c3;
  color: white;
  line-height: 2em;
  position: absolute;
  right: -1em;
  text-align: center;
  top: -1em;
  width: 2em;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 1em / 1em;
  -webkit-border-radius: 1em 1em;
  border-radius: 1em / 1em;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 142, ../sass/modules/_ui.scss */
.modal-box > div .close:hover {
  background: #00d9ff;
}

/* line 150, ../sass/modules/_ui.scss */
.iframe-elastic {
  margin: 1em 0;
  display: block;
}
@media screen and (max-width: 768px) {
  /* line 150, ../sass/modules/_ui.scss */
  .iframe-elastic {
    position: relative;
    padding-bottom: 56.25%;
    /* ratio width/height in % Bsp. (450 ÷ 500 = 0.9 = 90%) */
    padding-top: 15px;
    height: 0;
    overflow: hidden;
  }
  /* line 161, ../sass/modules/_ui.scss */
  .iframe-elastic iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**** Audio ***/
/* line 173, ../sass/modules/_ui.scss */
.ce_player,
.mejs-container {
  margin: 2em 0 !important;
}

@media screen and (min-width: 993px) {
  /* line 1, ../sass/modules/_navigation.scss */
  #responsive-nav {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  /* line 1, ../sass/modules/_navigation.scss */
  #responsive-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: white;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    /*toggling*/
  }
  /* line 13, ../sass/modules/_navigation.scss */
  #responsive-nav a[class*="-bar"] {
    padding: 1em;
    text-decoration: none;
  }
  /* line 16, ../sass/modules/_navigation.scss */
  #responsive-nav a[class*="-bar"] i.fa {
    font-size: larger;
    margin-right: .5em;
  }
  /* line 21, ../sass/modules/_navigation.scss */
  #responsive-nav a.close-bar {
    background: #224a65;
    color: white;
    display: block;
    padding-top: 2em;
  }
  /* line 28, ../sass/modules/_navigation.scss */
  #responsive-nav .toggleWrap {
    background: #4b92c3;
    width: 80%;
    position: fixed;
    height: 100%;
    overflow: scroll;
    top: 0;
    left: -100%;
    z-index: 99999;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  /* line 39, ../sass/modules/_navigation.scss */
  #responsive-nav .toggleWrap.open {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    left: 0;
  }
  /* line 43, ../sass/modules/_navigation.scss */
  #responsive-nav .toggleWrap.close {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    left: -100%;
  }
  /* line 48, ../sass/modules/_navigation.scss */
  #responsive-nav .responsive-header {
    position: relative;
    width: 100%;
    min-height: 60px;
  }
  /* line 52, ../sass/modules/_navigation.scss */
  #responsive-nav .responsive-header a[class*="-bar"] {
    position: absolute;
  }
  /* line 55, ../sass/modules/_navigation.scss */
  #responsive-nav .responsive-header a.toggle-bar {
    left: 0;
    top: 1em;
    z-index: 99;
    cursor: pointer;
  }
  /* line 61, ../sass/modules/_navigation.scss */
  #responsive-nav .responsive-header a.logo-bar {
    left: 90px;
    right: 1em;
    bottom: 1em;
    top: 1em;
  }
  /* line 71, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all {
    background: #4b92c3;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  /* line 73, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul {
    margin-bottom: -1px;
  }
  /* line 76, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul.level_1 {
    padding: 0 1em;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  /* line 80, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul li {
    display: block;
    color: white;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    margin-top: -1px;
  }
}
@media screen and (max-width: 992px) {
  /* line 89, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul li a, #responsive-nav #nav-all ul li span {
    padding: 1em 0;
    display: block;
    color: inherit;
  }
  /* line 93, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul li a:before, #responsive-nav #nav-all ul li span:before {
    display: inline-block;
    line-height: 1em;
    content: '';
    width: 0;
    height: 0;
    font-size: 2px;
    margin-right: 2em;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }
  /* line 100, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul li.parent > a:before, #responsive-nav #nav-all ul li.parent > span:before {
    display: inline-block;
    line-height: 1em;
    content: '';
    width: 0;
    height: 0;
    font-size: 2px;
    margin-right: 2em;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  /* line 107, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul .level_2 a, #responsive-nav #nav-all ul .level_2 span {
    padding-left: 1em;
  }
  /* line 108, ../sass/modules/_navigation.scss */
  #responsive-nav #nav-all ul .level_3 a, #responsive-nav #nav-all ul .level_3 span {
    padding-left: 2em;
  }
}

@media screen and (max-width: 992px) {
  /* line 113, ../sass/modules/_navigation.scss */
  #main-nav {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  /* line 113, ../sass/modules/_navigation.scss */
  #main-nav {
    padding: 26px 0 0 0;
    height: 50px;
  }
  /* line 121, ../sass/modules/_navigation.scss */
  #main-nav li {
    display: inline-block;
    float: left;
  }
  /* line 122, ../sass/modules/_navigation.scss */
  #main-nav li.startseite {
    display: none;
  }
  /* line 127, ../sass/modules/_navigation.scss */
  #main-nav li a, #main-nav li span {
    width: 100%;
    display: inline-block;
    line-height: 1.2;
    color: #2A5C7E;
    text-transform: uppercase;
  }
  /* line 134, ../sass/modules/_navigation.scss */
  #main-nav li.last {
    margin: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 140, ../sass/modules/_navigation.scss */
  #main-nav li {
    margin: 0 11px 0 0;
  }
}
@media screen and (min-width: 993px) {
  /* line 145, ../sass/modules/_navigation.scss */
  #main-nav li {
    margin: 0 12px 0 0;
  }
  /* line 147, ../sass/modules/_navigation.scss */
  #main-nav li.active {
    border-bottom: 3px solid #4b92c3;
    padding-bottom: 4px;
  }
  /* line 150, ../sass/modules/_navigation.scss */
  #main-nav li.active span {
    color: #4b92c3;
  }
}
@media screen and (min-width: 1200px) {
  /* line 156, ../sass/modules/_navigation.scss */
  #main-nav li {
    margin: 0 24px 0 0;
  }
}

/* line 161, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top {
  background: #4b92c3;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100% !important;
  z-index: 999999999;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 162, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top body.mobile {
  display: none;
}
/* line 173, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top li.startseite {
  display: block;
}
/* line 177, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  height: inherit;
}
/* line 182, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top ul li {
  float: none;
  -webkit-flex: 1 0;
  flex: 1 0;
  margin: 0;
  text-align: center;
  height: 100%;
}
/* line 188, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top ul li a, #main-nav.navbar-fixed-top ul li span {
  color: white;
  padding: 1.4em 0;
  display: block;
}
/* line 195, ../sass/modules/_navigation.scss */
#main-nav.navbar-fixed-top ul li.active a, #main-nav.navbar-fixed-top ul li.active span, #main-nav.navbar-fixed-top ul li.trail a, #main-nav.navbar-fixed-top ul li.trail span {
  color: #2A5C7E;
  background: #f4f4f4 url("../img/mdbg.png");
  border-bottom: 0;
}

/* line 205, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation {
  margin-top: 1em;
  /*     Colors */
  /*     End Colors */
}
/* line 208, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation ul.level_1 a {
  color: #2A5C7E;
}
/* line 211, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation ul.level_2 a {
  color: #3778a4;
  padding-left: 2.5em;
}
/* line 215, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation ul.level_3 a {
  color: #4b92c3;
  padding-left: 4.5em;
}
/* line 220, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation a, #side-nav .mod_navigation span {
  text-decoration: none;
  padding: .5em 1em;
  display: block;
  color: white;
}
/* line 225, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation a:hover, #side-nav .mod_navigation span:hover {
  background: #eee !important;
  color: #2A5C7E !important;
}
/* line 230, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li {
  margin: 1px 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
}
/* line 239, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.sibling:hover span.active,
#side-nav .mod_navigation li.active span.active {
  color: white;
  background: #2A5C7E;
  border: 0;
}
/* line 244, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.sibling:hover span.active + ul,
#side-nav .mod_navigation li.active span.active + ul {
  display: block;
}
/* line 251, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu > ul {
  display: none;
}
/* line 255, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu > a:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 1em;
  opacity: 1;
  margin-left: 0;
  font-size: 1em;
}
/* line 259, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu > a:hover:before {
  content: "\f0d7";
}
/* line 265, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu > .active:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 1em;
  opacity: 1;
  margin-left: 0;
  font-size: 1em;
}
/* line 270, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu.trail > .trail {
  background: #4b92c3;
  color: white;
}
/* line 273, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu.trail > .trail:before {
  font-family: 'FontAwesome';
  content: "";
  padding-right: 1em;
  opacity: 1;
  margin-left: 0;
  font-size: 1em;
}
/* line 277, ../sass/modules/_navigation.scss */
#side-nav .mod_navigation li.submenu.trail > ul {
  display: block;
}

/* line 283, ../sass/modules/_navigation.scss */
.mod_breadcrumb {
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 992px) {
  /* line 283, ../sass/modules/_navigation.scss */
  .mod_breadcrumb {
    margin: 1em 0;
  }
}
@media screen and (min-width: 993px) {
  /* line 283, ../sass/modules/_navigation.scss */
  .mod_breadcrumb {
    padding: 2em 0 .5em 0;
    border-bottom: 1px solid #ccc;
    /*        &.pushed{
                > ul {
                    @include push(3);
                }
            }*/
  }
  /* line 291, ../sass/modules/_navigation.scss */
  .mod_breadcrumb > ul {
    float: right;
  }
}
/* line 300, ../sass/modules/_navigation.scss */
body.startseite .mod_breadcrumb ul {
  display: none;
}
/* line 305, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li {
  float: left;
}
/* line 307, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li:after {
  content: ' / ';
  margin: 0 .2em;
}
/* line 313, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li:last-child:after {
  content: ' ';
}
/* line 317, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li {
  font-style: italic;
}
/* line 319, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li a {
  color: #2A5C7E;
  text-decoration: underline;
}
/* line 324, ../sass/modules/_navigation.scss */
.mod_breadcrumb > ul > li.active {
  font-weight: bold;
}

/* line 8, ../sass/_variables.scss */
.ce_table-of-contents ul.level_1 > li > a, .ce_table-of-contents ul.level_1 > li > span, .flex-container ul.level_1 > li > a, .flex-container ul.level_1 > li > span, .flex-container.affix-top ul.level_1 > li > a, .flex-container.affix-top ul.level_1 > li > span, #sitemap ul.level_1 > li > a, #sitemap ul.level_1 > li > span {
  color: #2A5C7E;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* line 330, ../sass/modules/_navigation.scss */
  .ce_table-of-contents ul.level_1, .flex-container ul.level_1, .flex-container.affix-top ul.level_1, #sitemap ul.level_1 {
    -webkit-columns: 10em 3;
    -moz-columns: 10em 3;
    columns: 10em 3;
  }
  /* line 74, ../sass/_variables.scss */
  .ce_table-of-contents ul.level_1 > *, .flex-container ul.level_1 > *, .flex-container.affix-top ul.level_1 > *, #sitemap ul.level_1 > * {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
  }
}
@media screen and (min-width: 769px) {
  /* line 330, ../sass/modules/_navigation.scss */
  .ce_table-of-contents ul.level_1, .flex-container ul.level_1, .flex-container.affix-top ul.level_1, #sitemap ul.level_1 {
    -webkit-columns: 18em 4;
    -moz-columns: 18em 4;
    columns: 18em 4;
  }
  /* line 74, ../sass/_variables.scss */
  .ce_table-of-contents ul.level_1 > *, .flex-container ul.level_1 > *, .flex-container.affix-top ul.level_1 > *, #sitemap ul.level_1 > * {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
  }
  /* line 339, ../sass/modules/_navigation.scss */
  .if-has-ads .ce_table-of-contents ul.level_1, .if-has-ads .flex-container ul.level_1, .if-has-ads .flex-container.affix-top ul.level_1, .if-has-ads #sitemap ul.level_1 {
    -webkit-columns: 10em 3;
    -moz-columns: 10em 3;
    columns: 10em 3;
  }
  /* line 74, ../sass/_variables.scss */
  .if-has-ads .ce_table-of-contents ul.level_1 > *, .if-has-ads .flex-container ul.level_1 > *, .if-has-ads .flex-container.affix-top ul.level_1 > *, .if-has-ads #sitemap ul.level_1 > * {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
  }
}
/* line 344, ../sass/modules/_navigation.scss */
.ce_table-of-contents ul.level_1 li.parent, .ce_table-of-contents ul.level_1 li.active, .flex-container ul.level_1 li.parent, .flex-container ul.level_1 li.active, .flex-container.affix-top ul.level_1 li.parent, .flex-container.affix-top ul.level_1 li.active, #sitemap ul.level_1 li.parent, #sitemap ul.level_1 li.active {
  margin: 0 0 1em 0;
}
/* line 8, ../sass/_variables.scss */
.ce_table-of-contents ul.level_1 li.parent > a, .ce_table-of-contents ul.level_1 li.parent > span, .ce_table-of-contents ul.level_1 li.active > a, .ce_table-of-contents ul.level_1 li.active > span, .flex-container ul.level_1 li.parent > a, .flex-container ul.level_1 li.parent > span, .flex-container ul.level_1 li.active > a, .flex-container ul.level_1 li.active > span, .flex-container.affix-top ul.level_1 li.parent > a, .flex-container.affix-top ul.level_1 li.parent > span, .flex-container.affix-top ul.level_1 li.active > a, .flex-container.affix-top ul.level_1 li.active > span, #sitemap ul.level_1 li.parent > a, #sitemap ul.level_1 li.parent > span, #sitemap ul.level_1 li.active > a, #sitemap ul.level_1 li.active > span {
  color: #2A5C7E;
  font-weight: bold;
  font-size: 14px;
}
/* line 349, ../sass/modules/_navigation.scss */
.ce_table-of-contents ul.level_2, .ce_table-of-contents ul.level_3, .flex-container ul.level_2, .flex-container ul.level_3, .flex-container.affix-top ul.level_2, .flex-container.affix-top ul.level_3, #sitemap ul.level_2, #sitemap ul.level_3 {
  padding: 0 0 0 .5em;
}
/* line 353, ../sass/modules/_navigation.scss */
.ce_table-of-contents ul.level_3 li, .flex-container ul.level_3 li, .flex-container.affix-top ul.level_3 li, #sitemap ul.level_3 li {
  font-style: italic;
}
/* line 358, ../sass/modules/_navigation.scss */
.ce_table-of-contents li.parent ~ ul, .ce_table-of-contents li.active ~ ul, .flex-container li.parent ~ ul, .flex-container li.active ~ ul, .flex-container.affix-top li.parent ~ ul, .flex-container.affix-top li.active ~ ul, #sitemap li.parent ~ ul, #sitemap li.active ~ ul {
  padding: 1em 0;
}

/* line 364, ../sass/modules/_navigation.scss */
.ce_table-of-contents * {
  font-weight: 600;
}

/* line 1, ../sass/modules/_form-elements.scss */
label[for] {
  cursor: pointer;
}

/* line 4, ../sass/modules/_form-elements.scss */
fieldset {
  margin: 0;
  padding: 0 0 1.5em;
}

/* line 8, ../sass/modules/_form-elements.scss */
.checkbox_container label,
.radio_container label {
  font-weight: normal;
}

/* line 13, ../sass/modules/_form-elements.scss */
input {
  padding: .5em;
  font-size: .9em;
  border: 1px solid #ccc;
}
/* line 17, ../sass/modules/_form-elements.scss */
td input[type="text"] {
  width: auto !important;
  max-width: 200px !important;
  min-width: 50px !important;
}
/* line 23, ../sass/modules/_form-elements.scss */
input[type="button"], input[type="submit"], input[type="reset"] {
  color: white;
  font-size: larger;
  width: 200px;
  background-position: 0 -50px !important;
  background-color: #2A5C7E;
}
/* line 29, ../sass/modules/_form-elements.scss */
input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus {
  background-position: 0 -50px !important;
}
/* line 32, ../sass/modules/_form-elements.scss */
input[type="button"].result, input[type="submit"].result, input[type="reset"].result {
  background-color: #37D052;
}
/* line 35, ../sass/modules/_form-elements.scss */
input[type="button"].solution, input[type="submit"].solution, input[type="reset"].solution {
  background-color: #4b92c3;
}

/* line 42, ../sass/modules/_form-elements.scss */
.formbody label {
  display: block;
  margin-top: 1.5em;
  padding-bottom: 3px;
}
/* line 48, ../sass/modules/_form-elements.scss */
.formbody .checkbox_container label,
.formbody .radio_container label {
  display: inline;
}

/* line 55, ../sass/modules/_form-elements.scss */
form .text,
form .textarea,
form .captcha {
  padding: 8px;
  border: 1px solid;
  border-color: #ccc;
  background-color: #fdfdfd;
}

/* line 66, ../sass/modules/_form-elements.scss */
.mod_subscribe input[type="text"] {
  width: 210px;
}

/* line 69, ../sass/modules/_form-elements.scss */
textarea {
  width: 90%;
  height: 140px;
}

/* line 78, ../sass/modules/_form-elements.scss */
form .text:focus, form .text:hover,
form .textarea:focus,
form .textarea:hover,
form .captcha:focus,
form .captcha:hover {
  background: #ffffff;
  border-color: #4b92c3;
}
/* line 85, ../sass/modules/_form-elements.scss */
form div.mandatory > input:focus {
  border: 1px solid;
  border-color: #c20000;
  color: #c20000;
}

/* line 93, ../sass/modules/_form-elements.scss */
select {
  width: 63%;
  padding: 4px 3px 4px 1px;
  border: 1px solid;
  border-color: #ccc;
  background-color: #fdfdfd;
}

/* line 102, ../sass/modules/_form-elements.scss */
.checkbox_container span,
.radio_container span {
  display: block;
}
/* line 106, ../sass/modules/_form-elements.scss */
.checkbox_container + br,
.radio_container + br {
  display: none;
}
/* line 110, ../sass/modules/_form-elements.scss */
.checkbox_container label,
.checkbox_container input,
.radio_container label,
.radio_container input {
  vertical-align: middle;
}

/* line 116, ../sass/modules/_form-elements.scss */
.formbody input[type="checkbox"],
x:-moz-any-link {
  top: 0;
  position: relative;
}

/* line 121, ../sass/modules/_form-elements.scss */
.checkbox_container {
  margin-top: 10px;
}

/* line 124, ../sass/modules/_form-elements.scss */
div.submit_container {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 129, ../sass/modules/_form-elements.scss */
form td {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 134, ../sass/modules/_form-elements.scss */
form td:first-child {
  min-width: 100px;
}

/* line 140, ../sass/modules/_form-elements.scss */
.tableform table {
  width: 92%;
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* line 146, ../sass/modules/_form-elements.scss */
#container .tableform .formbody,
#container .formbody .formbody {
  width: 100%;
  overflow: hidden;
}

/* line 154, ../sass/modules/_form-elements.scss */
.search-boxen input.submit {
  background: #2A5C7E;
  font-weight: normal;
  padding: 8px;
  border: 1px solid;
  border-color: #ccc;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  /* line 164, ../sass/modules/_form-elements.scss */
  .search-boxen input.submit {
    width: 200px;
    display: block;
    float: none;
    margin-bottom: .5em;
  }
  /* line 170, ../sass/modules/_form-elements.scss */
  .search-boxen input.text {
    width: 200px;
  }
}
@media screen and (min-width: 600px) {
  /* line 175, ../sass/modules/_form-elements.scss */
  .search-boxen input.submit {
    width: 80px;
    display: inline-block;
  }
  /* line 179, ../sass/modules/_form-elements.scss */
  .search-boxen input.text {
    min-width: 80px;
    max-width: 220px;
  }
}

/* line 187, ../sass/modules/_form-elements.scss */
.search.btn {
  border-width: 1px 0;
  border-style: dashed;
  font-size: 1em;
  padding: 1em .5em;
  text-decoration: none;
  display: block;
  margin-top: 1em;
}
/* line 197, ../sass/modules/_form-elements.scss */
#side-nav .search.btn {
  border-color: #ccc;
  color: #2A5C7E;
}
/* line 201, ../sass/modules/_form-elements.scss */
#responsive-nav .search.btn {
  border-color: white;
  color: white;
}
/* line 206, ../sass/modules/_form-elements.scss */
.search.btn i {
  display: inline;
  margin-right: .5em;
}
/* line 210, ../sass/modules/_form-elements.scss */
.search.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

/* line 215, ../sass/modules/_form-elements.scss */
.formbody .formbody {
  padding-top: 0;
}

/* line 218, ../sass/modules/_form-elements.scss */
legend {
  padding-right: 6px;
  color: #00ADF1;
}

/* line 222, ../sass/modules/_form-elements.scss */
fieldset table {
  width: 92%;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
/* line 227, ../sass/modules/_form-elements.scss */
fieldset table td:first-child {
  width: 140px;
  text-align: left;
}

/* line 233, ../sass/modules/_form-elements.scss */
span.mandatory {
  display: inline;
  padding-left: 2px;
  font-weight: bold;
  color: #c20000;
}

/* line 240, ../sass/modules/_form-elements.scss */
p .confirm {
  color: #00ADF1;
}
/* line 244, ../sass/modules/_form-elements.scss */
p .error {
  margin-bottom: 6px;
  font-weight: bold;
  color: #c20000;
}

/* line 251, ../sass/modules/_form-elements.scss */
input.captcha {
  width: 100%;
}

/* line 254, ../sass/modules/_form-elements.scss */
span.captcha_text {
  font-weight: normal;
}

/* line 257, ../sass/modules/_form-elements.scss */
:first-child + html span.captcha_text {
  top: -3px;
  position: relative;
}

/* line 262, ../sass/modules/_form-elements.scss */
select {
  width: 63%;
  padding: 4px 3px 4px 1px;
  border: 1px solid;
  border-color: #ccc;
}

/* line 270, ../sass/modules/_form-elements.scss */
.checkbox_container span,
.radio_container span {
  display: block;
}
/* line 274, ../sass/modules/_form-elements.scss */
.checkbox_container br,
.radio_container br {
  display: none;
}

/* line 279, ../sass/modules/_form-elements.scss */
.checkbox_container {
  margin-top: 10px;
}
/* line 282, ../sass/modules/_form-elements.scss */
.checkbox_container label,
.checkbox_container input {
  vertical-align: middle;
}

/* line 287, ../sass/modules/_form-elements.scss */
#ctrl_notify {
  padding: 0;
}

/* line 291, ../sass/modules/_form-elements.scss */
.ce_form div.submit_container,
.ce_comments div.submit_container,
.mod_lostPassword div.submit_container,
.mod_personalData div.submit_container {
  padding-top: 20px;
  border-top: 1px dotted;
  border-color: #ccc;
}

/* line 300, ../sass/modules/_form-elements.scss */
#container .mod_lostPassword,
#container .mod_login {
  position: relative;
}
/* line 304, ../sass/modules/_form-elements.scss */
#container .mod_lostPassword .text,
#container .mod_login .text {
  width: 74.4%;
  display: inline-block;
}
/* line 309, ../sass/modules/_form-elements.scss */
#container .mod_lostPassword br,
#container .mod_login br {
  display: none;
}

/* line 315, ../sass/modules/_form-elements.scss */
#container .mod_login label {
  width: 20%;
  display: inline-block;
}

/* line 320, ../sass/modules/_form-elements.scss */
.mod_login .checkbox_container {
  float: right;
  padding-top: 8px;
}

/* line 324, ../sass/modules/_form-elements.scss */
#container .mod_login .checkbox_container label {
  width: 120px;
  margin-top: 3px;
}

/* line 328, ../sass/modules/_form-elements.scss */
.mod_login .submit_container {
  margin-left: 20.3%;
  border: none;
}

/* line 333, ../sass/modules/_form-elements.scss */
.form-search div.submit_container {
  margin: 0;
  padding: 0;
  margin-top: -1px;
}

/* line 339, ../sass/modules/_form-elements.scss */
body.suchergebnisse .mod_search.block {
  padding-top: 1em;
}
/* line 341, ../sass/modules/_form-elements.scss */
body.suchergebnisse .mod_search.block .formbody {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
body.suchergebnisse .mod_search.block .formbody:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 345, ../sass/modules/_form-elements.scss */
body.suchergebnisse .mod_search.block input[type="search"] {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
}
/* line 348, ../sass/modules/_form-elements.scss */
body.suchergebnisse .mod_search.block input[type="submit"] {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  padding: 8px;
}
/* line 352, ../sass/modules/_form-elements.scss */
body.suchergebnisse .mod_search.block p.header {
  clear: both;
  padding-top: 1em;
}

/* line 1, ../sass/layout/_werbung.scss */
.adsense, .landscape {
  text-align: center;
}
@media screen and (max-width: 992px) {
  /* line 1, ../sass/layout/_werbung.scss */
  .adsense, .landscape {
    display: none;
  }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 1, ../sass/layout/_werbung.scss */
  .adsense, .landscape {
    display: none;
  }
}
/* line 9, ../sass/layout/_werbung.scss */
.mod_article > .adsense, .mod_article > .landscape {
  margin: 2em 0;
}

@media screen and (max-width: 992px) and (orientation: portrait) {
  /* line 81, ../sass/_variables.scss */
  .if-has-ads .netpoint-video, .if-has-ads.custom, .if-has-ads.netpoint-billboard {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  /* line 81, ../sass/_variables.scss */
  .if-has-ads .netpoint-video, .if-has-ads.custom, .if-has-ads.netpoint-billboard {
    display: none;
  }
  /* line 19, ../sass/layout/_werbung.scss */
  .if-has-ads#wrapper {
    padding: 0;
    float: none;
  }
}
@media screen and (min-width: 1025px) {
  /* line 25, ../sass/layout/_werbung.scss */
  .if-has-ads#main .inside {
    padding: 2em;
  }
  /* line 26, ../sass/layout/_werbung.scss */
  .if-has-ads .netpoint-video {
    margin-right: 2em;
    margin-left: 2em;
    max-width: 300px;
    height: auto;
  }
  /* line 32, ../sass/layout/_werbung.scss */
  .if-has-ads.custom {
    float: right;
    margin-right: 160px;
  }
  /* line 36, ../sass/layout/_werbung.scss */
  .if-has-ads#wrapper {
    margin-right: 160px;
    float: left;
  }
  /* line 41, ../sass/layout/_werbung.scss */
  .if-has-ads.netpoint-billboard > * {
    margin: 2em 3em;
    border-bottom: 1px solid #ccc;
  }
  /* line 46, ../sass/layout/_werbung.scss */
  .if-has-ads.footer {
    max-width: 100%;
  }
  /* line 49, ../sass/layout/_werbung.scss */
  .if-has-ads #main-nav ul li a {
    font-size: .9em;
  }
  /* line 51, ../sass/layout/_werbung.scss */
  body:not(.startseite) .if-has-ads .flex-container {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 2em;
  }
  /* line 54, ../sass/layout/_werbung.scss */
  body:not(.startseite) .if-has-ads .flex-container > .block {
    -webkit-flex: 2 0;
    flex: 2 0;
  }
  /* line 56, ../sass/layout/_werbung.scss */
  body:not(.startseite) .if-has-ads .flex-container > .block ~ * {
    -webkit-flex: 1 0;
    flex: 1 0;
    margin: 0 2em;
  }
  /* line 61, ../sass/layout/_werbung.scss */
  body:not(.startseite) .if-has-ads .flex-container > *:first-child {
    margin-left: 0 !important;
  }
  /* line 62, ../sass/layout/_werbung.scss */
  body:not(.startseite) .if-has-ads .flex-container > *:last-child {
    margin-right: 0 !important;
  }
  /* line 66, ../sass/layout/_werbung.scss */
  html.no-flexbox body:not(.startseite) .if-has-ads .flex-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  /* line 12, ../bower_components/susy/sass/susy/output/support/_clearfix.scss */
  html.no-flexbox body:not(.startseite) .if-has-ads .flex-container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 69, ../sass/layout/_werbung.scss */
  html.no-flexbox body:not(.startseite) .if-has-ads .flex-container > .block {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 72, ../sass/layout/_werbung.scss */
  html.no-flexbox body:not(.startseite) .if-has-ads .flex-container > .ad-portrait {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 75, ../sass/layout/_werbung.scss */
  .if-has-ads .flex-container.affix-top {
    display: -webkit-flex;
    display: flex;
  }
  /* line 77, ../sass/layout/_werbung.scss */
  .if-has-ads .flex-container.affix-top > * {
    -webkit-flex: 1 0;
    flex: 1 0;
  }
  /* line 80, ../sass/layout/_werbung.scss */
  .if-has-ads .flex-container.affix-top ul.level_1 {
    -moz-columns: 20em 2;
    -webkit-columns: 20em 2;
    columns: 20em 2;
  }
}
